
 h1 {
     font-size: large;
     font-weight: bold;
     color: deepskyblue;
 }

 h2 {
    color: rgb(1, 179, 149);
    background-color: rgba(184, 184, 184, 0.582);
 }

h6 {
   color: red; 
} 