
 h1 {
     font-size: large;
     font-weight: bold;
     color: deepskyblue;
 }

 h2 {
    color: rgb(1, 179, 149);
    background-color: rgb(255, 255, 255);
 }

h6 {
   color: red; 
} 